{{#foreach posts}}
<h2 class="brentk-post-title"><a href="{{url}}">{{{title}}}</a></h2>
<div class="brentk-post-body">{{content}}</div>
<!--<p class="brentk-post-body">{{excerpt words="32"}}<a class="read-more" href="{{url}}">...</a></p>-->
<div class="brentk-post-byline-block">
	<img class="brentk-author-thumb" src="{{primary_author.profile_image}}" alt="Author image" nopin="nopin" />
	<h4 class="brentk-post-byline">{{authors}} | <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></h4>
</div>
<br class="clearfix">
{{/foreach}}
{{pagination}}
