{{!< default}}

{{#if @blog.navigation}}
	<a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
{{/if}}
<header id="headline" style="background-image: url({{#if @blog.cover_image}}{{@blog.cover_image}}{{else}}{{asset "images/code_monaco-6.png"}}{{/if}});">
        
	<h1>{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="Blog Logo" class="brentk-logo" />{{/if}}{{@blog.title}}</h1>
	<p>{{@blog.description}}</p>
	<div id="brentk-social-buttons">
	<a href="https://github.com/brentk" class="brentk-social-link"><img id="brentk-github-icon" class="brentk-social-icon" src="{{asset "images/github.png"}}" alt="github"/></a>
	<a href="https://www.facebook.com/brent.kelly.79" class="brentk-social-link"><img id="brentk-facebook-icon" class="brentk-social-icon" src="{{asset "images/facebook.png"}}" alt="facebook"/></a>
	<a href="http://twitter.com/brenttkelly" class="brentk-social-link"><img id="brentk-twitter-icon" class="brentk-social-icon" src="{{asset "images/twitter.png"}}" alt="twitter"/></a>
	</div>
</header>
<div id="brentk-container">
	<main id="section1">
		{{> "loop"}}
	</main>
	<div class="brentk-social-media">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/brenttkelly" data-widget-id="579307667337818112">Tweets by @brenttkelly</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<br>
</div>
<footer class="site-footer clearfix">
	<section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2015</section>
	<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
</footer>

<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
